{{ partial "header.html" . }}
{{- $baseurl := .Site.BaseURL }}

<main role="main">
    <article itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
        <span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            {{ .Date.Day }} {{ index $.Site.Data.meseci (printf "%d" .Date.Month) }}, {{ .Date.Year }}
        {{ if isset .Params "tags" }}
          // {{ range .Params.tags }}<a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a> // {{ end }}
</time></span> 
            {{ end }}
        <section itemprop="entry-text">
                {{ .Content }}
                <br>
                <div class="disqus">
                    {{ template "_internal/disqus.html" . }}
                </div>
            </section>
    </article>
</main>

{{ partial "footer.html" . }}

